html, body, div, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Fjalla One, sans-serif;
  }
  

#page1 {

    background: #000 url(images/green-vegetables-on-brown-wooden-chopping-board-3952047.jpg) center center;
    height: 1050px;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px #fff solid;
    margin: 0 100px;
    padding: 40px 0px 0px 0px;
}

#leftSide {
    color: #fff;
    font-size: 20px;
    padding-bottom: 5px;
}
#nav {
    display: flex;
    justify-content: space-between;
}

#nav a {
    padding-left: 30px;
    display: flex;
    float: left;
    text-decoration: none;
    color: #fff;
}

.title {
    
    display: flex;
    color: #fff;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.title h1 {
    margin: 0;
    padding: 50px;
    border-bottom: 4px #fff solid;
    font-size: 100px;
    margin: 170px 10px 0 10px;
}

.title h2 {
    padding-top: 30px;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: lighter;
}

.page2 {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
    background-color: #000;
    color: #fff;
}

.image1 {
    background: #000 url(images/human-holding-a-bread-745988.jpg) center;
    height: 500px;
    width: 100%;
   background-size: cover;
}

.image2 {
    background: #000 url(images/green-pineapple-fruit-with-brown-framed-sunglasses-beside-1161547.jpg) center;
    height: 550px;
    width: 100%;
    background-size: cover;
}


.image3 {
    background: #000 url(images/cooked-pasta-on-brown-wooden-bowl-803963.jpg) center;
    height: 500px;
    width: 100%;
    background-size: cover;
}

.p1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 90px ;
}

.row2 {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(17, 17, 17);
    color: #fff;
}
.row3 {
    display: flex;
    flex-direction: row;
    background-color: rgb(41, 41, 41);
    color: #fff;
}

.p1 h1 {
    padding-bottom: 50px;
    font-size: 40px;
}
.p1 p {
    font-size: 20px;
    font-family: Urbanist, sans-serif ;
    line-height: 130%;
}